/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全站暗色变量 */
:root {
  --bg: #1a202c;
  --text: #edf2f7;
  --primary: #63b3ed;
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
}

/* 常用辅助类 */
.bg-primary {
  background-color: var(--primary) !important;
}
